#root {
  color-scheme: light dark;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: light-dark(rgb(0 0 0), rgb(255 255 255));
}

ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.NavBar{
  width: 90%;
  display:flex;
  justify-content: space-evenly;
}

.PositiveVoteButton{
  width: 5rem;
  background-color: lightgreen;
}

.NegativeVoteButton{
  width: 5rem;
  background-color: lightcoral;
}

.listItem{
  border-radius: 4%;
  background-color: light-dark(rgb(230 230 230), rgb(100 100 100));
  margin: 10px;
  padding: 30px;
  width: 90%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: 5px;
  column-gap: 50px;
}

.articleImage{
  width: 70%;
}

#AppContainer{
  width: 100%;
}